@font-face{
    font-family: "work-sans";
    src: url("../fonts/static/WorkSans-Regular.ttf")
}

*{
    font-family: work-sans;
    font-size: 16px;
}

.background {
    background-image: url("../images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(235, 198, 235);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqs {
    background-color: white;
    border-radius: 3%;
    padding: 0% 2% 5% 2%;
    width: 40%;
    height: auto;
}

.faqs-title {
    display: flex;
}

.FAQs {
    font-size: 4rem;
    color: rgb(59, 8, 59);
}

.faqs-q-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: rgb(59, 8, 59);
}

.faqs-q {
    border-bottom: 1px solid rgb(228, 215, 215);
}

.faq-aswers {
    display: none;
    
}